---
import type { CollectionEntry } from "astro:content";

const { entry, index } = Astro.props;

interface Props {
  entry: CollectionEntry<"blog">;
  index: number;
}
---

<div class="border border-gray-300 m-2 p-4 rounded-md">
  <div class="blogcard__title">
    <img
      src=`/images/${entry.data.image}`
      alt={entry.data.title}
      class="rounded-md w-full h-64 object-cover"
    />
    <h3><a href=`/blog/${entry.data.slug}`>{entry.data.title}</a></h3>
    <p class="blogcard__description">
      {entry.data.description}
    </p>
  </div>
  <div class="blogcard__tags">
    {entry.data.tags.map((tag: string) => <span>{tag}</span>)}
  </div>
</div>
